.bodyBckg{
    background-color: lightgray;

}
.chatBckg{
    background-color: transparent;
}
.bubble-left{
    background-color: white;
}
.bubble-right{
    background-color: #007bff;
    color: white;
}
.header{
    background-color: white;
}
.footer{
    background-color: white;
}
