.bodyBckg{
    background-color: transparent;

}
.chatBckg{
    background-color: rgba(255,255,255,0.05);
}
.bubble-left{
    background-color: white;
}
.bubble-right{
    background-color: #007bff;
    color: white;
}
.header{
    background-color: white;
}
.footer{
    background-color: white;
}
.slider{
    background: white;
}
.slider::-webkit-slider-thumb { /* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background: #007bff; /* color background */
}
.slider::-moz-range-thumb {
    background: #007bff; /* color background */
}
