body{
    font-family:"Open Sans","Helvetica Neue", "Roboto", Helvetica,Arial,sans-serif !important;
    font-size: 10px;
    /*height:100%;*/
    height: 100vh;
}
/*button{
    all: none;
}*/
#rec{
    height: 2.25rem;
    max-width: 5rem;
    min-width: 3rem;
}
#rec:hover{
    background-color: #43bd5d;
    border-color:  #43bd5d;
}
#restart{
    height: 1.2rem;
    background-color: white;
}
img{
    max-height: 100%;
    object-fit: cover;
}
/*h6{
    font-size: 12px;
}*/
.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.chat-messages{
    height:calc(100vh - 9rem);
    /*min-height: calc(100% - 9.2rem);/*inicial*/
    /*min-height: calc(100vh - 9.2rem);*/
}
.chat-message{

}
.chat-icon{
    position: fixed;
    width: 6rem;
    bottom: 0rem;
    right: 0rem;
}
.button-hidden{
    display: none;

}
.bubble-left{
    width: 95%;
}
.bubble-right{
    min-width: 25%;
    max-width: 90%;
}
h6{
    /* font-size: 0.875rem; */
    font-size: 0.8rem;
}
.listButton{
    /* font-size: 0.875rem; */
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.barButton{
    line-height: 1.8rem;
}

.slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;

    height: 0.8srem;
    border: 1px solid #1688c6;
    /*color: : black;*/
}
.slider::-webkit-slider-thumb { /* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
    /*-webkit-appearance: none; /* Override default look */
    /*appearance: none;*/
    border: 1px solid #1688c6;
    width: 0.8rem; /* Set a specific slider handle width */
    height: 1.2rem; /* Slider handle height */
    background: #007bff; /* color background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 0.8rem; /* Set a specific slider handle width */
    height: 1.2rem; /* Slider handle height */
    background: #1688c6; /* color background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-webkit-slider-thumb:hover {
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb:hover {

    cursor: pointer; /* Cursor on hover */
}
.img-button-container{
    /*height: 8rem;*/
    /*vertical-align: center;*/
}
.statusToUser{

}
.timestamp-right{
    position: absolute;
    bottom: 0;
    z-index: 1000;
    right: 0.4rem;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus{
    color: #ffffff;
    background-color: #1688c6;
    border-color: #1688c6;
}
.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active {
    color: #1688c6;;
    border-color: #1688c6;
}
.btn-primary:hover,
.btn-primary:focus{
    color: #1688c6;
    border-color: #1688c6;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1688c6;
  border-color: #1688c6;
}
.form-control {
    font-size: 0.8rem;
}

.titleChat{
    font-family: "Roboto", Helvetica, sans-serif;
}
