html {
    box-sizing: border-box; /*incluir margin border y padding en Height y Width*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #FFFFFF;
    font-family: "Asap","Titillium Web", sans-serif, Arial;
    font-size: 20px;
    margin: 0;
}
.container-left {
    bottom: 0;
    display: block;
    height: auto;
    max-height: calc(100vh - 50px); /*100% menos la altura del upper*/
    min-width: 400px;
    padding: 0px;
    position: relative;
    text-align: center;
    /*top: 70px;*/
    width: 50%;
    /*-webkit-transform: translate(-50%, 0%);*/
}
.container-right{
    bottom: 0;
    display: block;
    height: auto;
    max-height: calc(100vh - 50px);
    padding: 0px;
    position: fixed;
    right: 0%;
    text-align: right;
    width: 50%;
}
.container1 {
    height: 110px;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    text-align: left;
    width: 310px;

    /*top:25%;*/
    /*left:50%;*/
    /*-webkit-transform: translate(-50%, 0%);*/
}
.container2{
    height: calc(100vh - 161px);
    margin: 0 auto;
    padding: 5px;
    width: 310px;
}
input[type=text] {

    background-color: #d2d2d2;
    border:none;
    border: 1px solid #888888;
    border-radius: 11px;
    box-shadow: 0px 0px 10px 5px #888888;
    color: #000000;
    font-family: "Titillium Web";
    font-size: 16px;
    height: 35px;
    line-height: 40px;
    padding: 0 0.75em;
    width: 100%;
    -webkit-transition: all 0.35s ease-in;
}
input[type=text]:focus{
    background-color: #c3d5bb;
    border:none;
    border: 1px solid #43BD5D;
    border-radius: 11px;
    outline: 0px solid #43BD5D;
    box-shadow: 0px 0px 10px 5px #43BD5D;

}
/*para cambiar el placeholder inicio*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #58585A;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #58585A;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #58585A;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #58585A;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #58585A;
}
/*para cambiar el placeholder final*/
/*para cambiar el placeholder inicio*/
input[type=text]:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #43BD5D;

}
input[type=text]:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #43BD5D;

    opacity:  1;
}
input[type=text]:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #43BD5D;

    opacity:  1;
}
input[type=text]:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #43BD5D;

}
input[type=text]:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: #43BD5D;

}
.status{
    padding: 5px 5px 0px 5px;
    height: 25px;
}
/*para cambiar el placeholder final*/
textarea {
    background-color: #070F24;
    border: 1px solid #122435;
    color: #606B88;
    font-size: 10px;
    padding: 0.5em;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s ease-in;
}
textarea:active, textarea:focus {
    outline: 1px solid #48788B;
}
.btn {
    background-color: #58585A;
    border: 1px solid #5CB85C;
    color: #5CB85C;
    cursor: pointer;
    display: inline-block;
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    /*margin-top: 10px;
    margin-bottom: 0px;*/
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-transition: all 0.35s ease-in;
}
.btn:hover {
    background-color: #5CB85C;
    color: #58585a;
    font-weight: bold;
}
.debug {
    bottom: calc(100vh/2 - 150px);
    display: table;
    height: auto;
    position: fixed;
    right: 0;
    width: 50px;
    -webkit-transition: all 0.35s ease-in;
}
.debug.is-active {
    position: fixed;
    width: 350px;ç
    -webkit-transition: all 0.35s ease-in;
}
.debug__content {
    display: table-cell;
    height: 300px;
    width: 0px;
    overflow: hidden;
    -webkit-transition: all 0.35s ease-in;
}
.debug__content.is-active {
    width: 300px;
    -webkit-transition: all 0.35s ease-in;

}
.debug__btn {
    display: table-cell;
    height: 50px;
    position: absolute;
    top: -50px;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    width: 300px; /*100%*/
    -webkit-transition: all 0.35s ease-in;
}
.debug__btn.is_active {
    position: absolute;
    /*transform: rotate(90deg);*/
    width: 50px; /*100%*/
    /*transform-origin: 0 0 top 50%;*/
    -webkit-transition: all 0.35s ease-in;
}
.spoken-response {
    max-height: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.35s ease-in;
}
.spoken-response.is-active {
    max-height: 180px;
}
.spoken-response__text {
    max-width: 300px;
    background-color: #008ACA;
    color: #FFFFFF;
    font-size: 15px;
    line-height:20px;
    padding: 1em;
}
.statusToUser {
    display: block;
    color: #58585a;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    line-height: 20px;
    text-align: right;
}
.responseLink{
    text-align: left;
}
.responseTitle{
    display: block;
    max-height: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0px;
    -webkit-transition: all 0.35s ease-in;
}
.responseTitle.is-actived{
    display: block;
    max-height: 40px;
}
.responseLabel {
    max-width: 300px;
    color: #58585a;
}
.i-frame {
    height: calc(100vh - 50px);
    margin: 0 auto;
    width: 50vw;
}
.upper{
    height: 50px;
    display: block;
    padding: 10px;
    width: 100%;
}
/*button{
    background: url('https://images.vexels.com/media/users/3/136405/isolated/lists/bf4aefa9cbfadb3b125d50a89c90f2a1-microphone-record-sound-icon.png') no-repeat 5px center;
}*/
button > img,
button > span {
    vertical-align: middle;
}

/*ejemplo twilio INI---------------------------------------------*/
.chatMessages{

    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    font-size: 14px;
    background: #58585A;
    box-shadow: 0px 0px 10px 5px #888888;
    display: inline-block;
    /*box-shadow: inset 0px 0px 10px 5px #888888;*/
    margin: 0 auto;
    /*margin-left: 10px;*/
    padding: 5px 5px;
    position: sticky;
    /*top: 55px;*/
    width:100% ;
}
.scrollable {
    /*height: 95%; /* or any value */*/
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    /*max-height: 90vh;*/
}
.chat-message-content{
    /*margin: 20px;*/
    /*width: 100%;*/
    display: table-cell;
    padding: 5px 10px;
    vertical-align: top;
}
.fila{
    display: table-row;
}
.col{
    display: block;

}
.bubble-left {
    line-height: 1.2em;
    display: block;
    position: relative;
    padding: .25em .5em;
    background: #5CB85C;
    box-shadow: 5px 5px 4px #536b53;
    border: black solid 0;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    margin-bottom: 8px;
    clear: both;
    min-width: 35%;
    min-height: 55px;
    max-width:85%;
    color: white;
    text-align:left;

}

.bubble-right {
    line-height: 1.2em;
    display: block;
    position: relative;
    padding: .5em .5em;
    background: #008ACA;
    box-shadow: -5px 5px 4px rgb(82, 109, 121);
    border: black solid 0;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    margin-bottom: 8px;
    clear: both;
    min-width: 35%;
    min-height: 55px;
    max-width:85%;
    color: white;
    text-align:left;
}

.bubble-left {
    /*margin-right:5%;*/
    float:left;

}
.bubble-right {
    /*margin-left:5% ;*/
    float:right;
    /*text-align: right;*/
}
.timestamp_right{
    text-align: right;
    /*float:right; // para ver si clota en el texto
    font-size: 10px;*/
    margin-bottom: 0;
    /*display: table-cell;*/
}
.timestamp_left{
    text-align: left;
    float: left; //para ver si flota en el texto
}
.avatar{
    /*display: table-cell;*/
    /*display: inline-block;*/
    /*width: 100%*/
}
h4{
    -webkit-margin-before: 0;
    /*margin: 0.5em;*/
    /*margin: 0;*/
    display: table-cell;
}
/* *  Scrollbar STYLE 7
*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #58585A ;
    border-radius: 11px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
::-webkit-scrollbar
{
    width: 11px;
    background-color: #rgb(246, 67, 20);/*#F5F5F5 ;*/
}
::-webkit-scrollbar-thumb
{
    border-radius: 11px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44, #5CB85C),color-stop(0.72, #5ca4b8),color-stop(0.86, #008ACA));
}
button {
    background-color: #FFFFFF;
    bordebaseliner: 1px solid #58585A;
    border-radius: 6px;
    color: #008ACA;
    cursor: pointer;
    display: inline;
    font-family: "Titillium Web";
    font-size: 14px;
    font-weight: bold;
    /*line-height: 20px;*/
    /*margin: 0px;*/
    min-width: 100px;
    padding: 0.1em 0.8em;
    text-align: center;
    /*text-transform: uppercase;*/
    -webkit-transition: all 0.35s ease-in;
}
button:hover:enabled{
    background-color: #5CB85C;
    color: #58585A;
}
button:disabled{
    text-decoration:line-through;
    color: #58585A;
}
.quickReplyButton{
}
/*////////////////////////////////////////7//////////   Slider   //////////////////////////////////////////////////////////*/
#slidecontainer {
    width: 200px; /* Width of the outside container */
    display: inline-block;
    padding: 10px 0px 20px 0px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 20px; /* Specified height */
    background-color: #FFFFFF; /* color background */
    outline: none; /* Remove outline */
    /*opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */*/
    /*-webkit-transition: .2s; /* 0.2 seconds transition on hover */*/
    transition: all .2s;
    padding: 0px;
    border: none;
    color: #58585A
}

/* Mouse-over effects */
.slider:hover {
    /*opacity: 1;  Fully shown on mouse-over */
    background-color: #5CB85C;
    border: #58585A;
    outline: 1px solid #58585A;
    /*outline: none;  Remove outline */
}

.slider:focus{
    background-color: #FFFFFF;
    border:none;
    border: 0px solid #58585A;
    outline: 1px solid #5CB85C;
}
/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #58585A; /* color background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #58585A; /* color background */
    cursor: pointer; /* Cursor on hover */
}
.imgButtonContainer{
    padding:5px 0;
    margin: 0 auto; /*to center element*/
    display: table;
}
.imgBtn {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    border-radius: 38px;
    display: inline-table;
    width: 76px; /* Full-width */
    height: 76px; /* Specified height */
    background-color: #FFFFFF; /* color background */
    outline: none; /* Remove outline */
    /*opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */*/
    /*-webkit-transition: .2s; /* 0.2 seconds transition on hover */*/
    transition: all .2s;
    padding: 0px;
    border: none;
    color: #58585A;
    vertical-align: middle;
}
a:link{
    color: white;
}
a:visited{
    color: pink;
}
