:root{
    --lightgray-color: rgb(200, 200, 200); /*gray: #808080*/
    --usergray-color: #888888;
    --gray-color: rgba(128,128,128,1);
    --darkgray-color: #58585A;
    --lightgreen-color: #c3d5bb;
    --green-color: #5CB85C;
    --usergreen-color: #43BD5D;
    --blue-color: #48788B;
    --userblue-color: #008ACA;rgb(137, 3, 144)
    --userBlue-color:#3769cc;
    --lightblue-color: lightblue;
    --darkblue-color:rgb(82, 109, 121);
    --userwhite-color: #d2d2d2;
    --pink-color: pink;
    --violet-color: #606B88;
    --chatbg-color: rgb(210, 210, 210); /*use rgba to apply opacity*/
}
html {
    box-sizing: border-box; /*incluir margin border y padding en Height y Width*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: white;
    /*background-image: url(/images/laptop_n.png);*/
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-blend-mode: normal;
    background-size: 100% 100%;
    font-family: "Asap","Titillium Web", sans-serif, Arial;
    font-size: 14px;
    height: 100%; /*testing viewport problem*/
    margin: 0;
    min-height: 100%; /*testing viewport problem*/
}
.full-screen{/*testing viewport problem*/
    height: 100%;/*testing viewport problem*/
    min-height: 100%;/*testing viewport problem*/
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container0{
}
.container{

    display: block;
    height: calc(100vh - 3em);
    padding: 0px;
    width: 50%;
}
.container-left {
    min-width: 400px; /*/400px*/
    padding: 10px;
    position: relative;
    text-align: center;
}
.container-right{
    position: fixed;
    right: 0%;
    text-align: right;
    z-index: -1;
}
.containerleft1{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%; /*nothing*/

}
.container1 {
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    text-align: left;
    width: 100%; /*360px*/
    /*bottom: 0;*/

    /*top:25%;*/
    /*left:50%;*/
    /*-webkit-transform: translate(-50%, 0%);*/
}
.container2{
    height: auto;
    margin: 0 auto;
    padding: 5px;
    width: 100%; /*360px;*/
}
.textInputContainer{
    display: inline-block;
    width: 70%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body{
        font-size: 18px;
    }
    .container{
        width: 100%;
    }
    .container-left {
        min-width: 300px;
    }
    .containerleft1{
        width: 100%
    }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .ipad-portrait { color: red; } /* your css rules for ipad portrait */

}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .ipad-landscape { color: blue; } /* your css rules for ipad landscape */

}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
  .ipad-portrait { color: red; } /* your css rules for ipad portrait */
  body{
      font-size: 20px;
  }
  .container{
      width: 100%;
  }
  .container-left {
      min-width: 300px;
  }
  .containerleft1{
      width: 100%
  }

}
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation:landscape) {
  .ipad-landscape { color: blue; } /* your css rules for ipad landscape */
  body{
      font-size: 22px;
  }
  .container{
      width: 100%;
  }
  .container-left {
      min-width: 500px;
  }
  .containerleft1{
      width: 100%
  }
}
#speech { /*input[type=text]*/

    background-color: #d2d2d2;
    border:none;
    /*border: 1px solid #888888;*/
    /*border-radius: 11px;
    box-shadow: -5px 5px 20px 2px #888888;*/
    color: #000000;
    font-family: "Titillium Web";
    font-size: 1.2em;
    height: 2em;
    line-height: 2em;
    padding: 0 0.75em;
    width: 100%;
    -webkit-transition: all 0.35s ease-in;
}
#speech:focus{
    background-color: var(--lightgreen-color);
    border:none;
    border: 0px solid var(--gray-color);
    /*border-radius: 11px;*/
    outline: 1px solid var(--gray-color);
    /*box-shadow: -5px 5px 20px 2px var(--userblue-color);*/

}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    var(--darkgray-color);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    var(--darkgray-color);
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    var(--darkgray-color);
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    var(--darkgray-color);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    var(--darkgray-color);
}
#speech:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--gray-color);
}
#speech:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: var(--gray-color));
    opacity:  1;
}
#speech:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--gray-color);
    opacity:  1;
}
#speech:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--gray-color);
}
#speech:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--gray-color);
}
.status{
    padding: 5px 5px 0px 5px;
    height: 1.5em;
}
textarea {
    background-color: #070F24;
    border: 1px solid #122435;
    color: #606B88;
    font-size: 0.9em;
    padding: 0.5em;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s ease-in;
}
textarea:active, textarea:focus {
    outline: 1px solid #48788B;
}
.btn {
    /*background-color: var(--userblue-color);*/
    border: 0px solid var(--green-color);
    /*color: white;*/
    cursor: pointer;
    font-family: "Titillium Web";
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.35s ease-in;
}
.btn:hover {
    background-color: var(--green-color);
    border: 0px solid var(--green-color);
    color: #58585a;

}
.debug {
    bottom: calc(100vh/2 - 150px);
    display: table;
    height: auto;
    position: fixed;
    right: 0;
    width: 50px;
    -webkit-transition: all 0.35s ease-in;
}
.debug.is-active {
    position: fixed;
    width: 350px;ç
    -webkit-transition: all 0.35s ease-in;
}
.debug_content {
    display: table-cell;
    height: 300px;
    width: 0px;
    overflow: hidden;
    -webkit-transition: all 0.35s ease-in;
}
.debug_content.is-active {
    width: 300px;
    -webkit-transition: all 0.35s ease-in;

}
#rec.btn{
    background: var(--userblue-color);
    color: white;
    font-size: 1em;
    height: 2.4em;
    padding: 0;
    min-width: 6em;
    margin: 0;
    /*display: inline-block;*/
    vertical-align: top;
    /*box-shadow: -5px 5px 20px 2px #888888;*/
    position: absolute;
    right: 5px;
}
#rec.btn:hover{
    /*background: #ff3c4c ;*/
}
#rec.btn.is-actived{
    background: #ff3c4c;
    font-size: 0.8em;
    height: 3em;
    min-width: 7.5em;
    animation-duration: 1500ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
   from {
      background: #ff3c4c;
   }
   to {
      background: darkred;
   }
 }
#rec.btn.is-actived:hover{
    /*background: darkred;*/

 }
.debug_btn {
    /*display: table-cell;*/
    line-height: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    width: 300px; /*100%*/
    -webkit-transition: all 0.35s ease-in;
}
.debug_btn.is_active {
    position: absolute;
    /*transform: rotate(90deg);*/
    width: 50px; /*100%*/
    /*transform-origin: 0 0 top 50%;*/
    -webkit-transition: all 0.35s ease-in;
}
.spoken-response {
    max-height: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.35s ease-in;
}
.spoken-response.is-active {
    max-height: 180px;
}
.spoken-response__text {
    max-width: 300px;
    background-color: #008ACA;
    color: #FFFFFF;
    font-size: 1.1em;
    line-height:20px;
    padding: 1em;
}
.statusToUser {
    display: block;
    color: var(--gray-color);
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    line-height: 20px;
    text-align: right;
}
.responseLink{
    text-align: left;
}
.responseTitle{
    display: block;
    max-height: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0px;
    -webkit-transition: all 0.35s ease-in;
}
.responseTitle.is-actived{
    display: block;
    max-height: 40px;
}
.responseLabel {
    max-width: 300px;
    color: #58585a;
}
.i-frame {
    height: calc(100vh - 50px);
    margin: 0 auto;
    width: 50vw;
}
.upper{
    height: 3.0em;
    display: block;
    padding: 0.5em;
    width: 100%;
}
button > img,
button > span {
    vertical-align: middle;
}
/*ejemplo twilio INI---------------------------------------------*/
.chatMessages{
    /*-webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;*/
    font-size: 1em;
    background: var(--chatbg-color);
    /*box-shadow: 0px 0px 10px 5px #888888;*/
    display: inline-block;
    /*box-shadow: inset -5px 5px 5px 5px #888888;*/
    margin: 0 auto;
    max-height: calc(100vh - 12em);
    padding: 0px 0px;
    position: sticky;
    width:100% ;
}
.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.chat-message{
    border: black solid 0;
    /*border-radius: 11px;*/
    clear: both;
    color: white;
    display: block;
    line-height: 1.25em;
    margin: 4px;
    max-width:85%;
    min-width: 35%;
    min-height: 60px;
    /*padding: .5em .5em;*/
    position: relative;
    text-align:left;
    /*-moz-border-radius: 11px;
    -webkit-border-radius: 11px;*/
}
.bubble-right {

    background: #008ACA;
    /*box-shadow: 10px 10px 20px rgb(82, 109, 121);*/
    float:right;
}
.bubble-left {
    background: var(--green-color);
    /*box-shadow: -10px 10px 20px #536b53;*/
    float:left;
}
.chat-message-content{
    display: table-cell;
    padding: 1em 0.5em 1em 1em;
    vertical-align: top;
}
.fila{
    display: table-row;
}
.col{
    display: block;
}
.timestamp_right{
    text-align: right;
    /*float:right; // para ver si clota en el texto
    font-size: 10px;*/
    line-height: 0.9em;
    margin-bottom: 0;
    /*display: table-cell;*/
    position: absolute;
    bottom: 4px;
    right: 10px;
}
.timestamp_left{
    text-align: left;
    float: left; //para ver si flota en el texto
}
img.avatar{
    border-radius: 16px;
    margin:10px;
    width: 32px;
}
h4{
    -webkit-margin-before: 0;
    /*margin: 0.5em;*/
    /*margin: 0;*/
    display: table-cell;
    text-indent: 0.3em;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
    background-color: var(--chatbg-color);
    border-radius: 11px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
::-webkit-scrollbar
{
    width: 11px;
    background-color: #F5F5F5;/*#F5F5F5 ;*/
}
::-webkit-scrollbar-thumb
{
    border-radius: 11px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /*background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44, #5CB85C),color-stop(0.72, #5ca4b8),color-stop(0.86, #008ACA));*/
    background-color: var(--lightgray-color) ;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--gray-color) ;
}
::-webkit-scrollbar-thumb:active{
    background-color: var(--darkgray-color) ;
}
.listButton, .sliderButton{
    background-color: #FFFFFF;
    /*borderbaseliner: 1px solid #58585A;*/
    /*border-radius: 6px;*/
    border-style: none;
    color: var(--darkgray-color);
    cursor: pointer;
    display: inline;
    font-family: "Titillium Web";
    font-size: 1em;
    font-weight: bold;
    min-width: 120px;
    margin: 1px;
    padding: 0.1em 0.8em;
    text-align: center;
    /*text-transform: uppercase;*/
    -webkit-transition: all 0.35s ease-in;
}
/*.sliderButton{

}*/
.formBtn{

}
/*button {
    background-color: #FFFFFF;
                        /*borderbaseliner: 1px solid #58585A;*/
                        /*border-radius: 6px;*/
/*    border-style: none;
    color: var(--darkgray-color);
    cursor: pointer;
    display: inline;
    font-family: "Titillium Web";
    font-size: 1em;
    font-weight: bold;
    min-width: 120px;
    margin: 1px;
    padding: 0.1em 0.8em;
    text-align: center;
*/                        /*text-transform: uppercase;*/
/*    -webkit-transition: all 0.35s ease-in;
}*/
button:hover:enabled{
    background-color: var(--userblue-color);
    color: white;
}
button:disabled{
    background-color: var(--usergray-color);
    color: var(--darkgray-color);
    text-decoration:line-through;

}
.quickReplyButton{
}
/*////////////////////////////////////////7//////////   Slider   //////////////////////////////////////////////////////////*/
#slidecontainer {
    width: 200px; /* Width of the outside container */
    display: inline-block;
    padding: 10px 0px 20px 0px;
}
.slider { /* The slider itself */
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 20px; /* Specified height */
    background-color: #FFFFFF; /* color background */
    outline: none; /* Remove outline */
    /*opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */*/
    /*-webkit-transition: .2s; /* 0.2 seconds transition on hover */*/
    transition: all .2s;
    padding: 0px;
    border: none;
    color: #58585A
}
.slider:hover {/* Mouse-over effects */
    /*opacity: 1;  Fully shown on mouse-over */
    background-color: var(--userblue-color);
    /*border: #58585A;
    outline: 1px solid #58585A;*/
    /*outline: none;  Remove outline */
}
.slider:focus{
    background-color: var(--userblue-color);
    border:none;
    border: 0px solid #58585A;
    outline: 1px solid #58585A;
}
.slider::-webkit-slider-thumb { /* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--gray-color); /* color background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--gray-color); /* color background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-webkit-slider-thumb:hover {
    background: var(--darkgray-color); /* color background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb:hover {
    background: var(--darkgray-color); /* color background */
    cursor: pointer; /* Cursor on hover */
}
.imgButtonContainer{
    padding:5px 0;
    margin: 0 auto; /*to center element*/
    display: table;
}
.imgBtn {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    border-radius: 38px;
    display: inline-table;
    width: 76px; /* Full-width */
    height: 76px; /* Specified height */
    background-color: #FFFFFF; /* color background */
    outline: none; /* Remove outline */
    /*opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */*/
    /*-webkit-transition: .2s; /* 0.2 seconds transition on hover */*/
    transition: all .2s;
    padding: 0px;
    border: none;
    color: #58585A;
    vertical-align: middle;
}
a:link{
    color: white;
}
a:visited{
    color: pink;
}
#bubbleId{
    position: absolute;
    right: 0;
    bottom: 0;
}
